h1 {font-weight:bold;
    font-family:Garamond,serif;
    font-size:64px;
    margin: 0;
}
p {color:black;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    width: 100%;
}

.container img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.text-content {
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;  
}
.text-footer {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
