h1 {font-weight:bold;
    font-family:Garamond,serif;
}
p {color:black;
}

.half-page-view {
  width: 50vw;
  height: auto;
  display: block;
}

.half-right-container {
  display: flex;
  justify-content: flex-start; 
  margin-left: 50%; 
  gap: 20px; 
}
